#JSON files for storing user data
queueItems.json
archivedItems.json
settings.json
data

#Photos added by user
*.jpeg
*.png
*.jpg
*.webp
images
target

#Bytecode
*.class
*.jar

#VS Code settings
.vscode/settings.json

#Other unnecessary files
.DS_Store
